.App {
  text-align: center;
  background: linear-gradient(to top right, #c76ccf, #0769e9);
  height: 100vh;
}
h1 {
  padding-top: 3em;
  font-size: larger;
}
.countdown {
  color: white;
}

.timer {
  color: rgb(209, 88, 209);
}